.wave {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}
#about {
	position: relative;
	background: black;
}
.about__words1 {
	color: #49d8ff;
	margin: 0;
}
.about__words2 {
	color: #6cb13e;
}

.about-container {
	/* height: 100vh; */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 7rem;
	padding: 0 2rem;
}

h2.title {
	display: flex;
	justify-content: center;
	color: white !important;
}

.text-container {
	width: 300px;
	margin: 7px;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.paragraph {
	padding-top: 20px;
	letter-spacing: 1px;
}

.img {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.about-content {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.img img {
	width: 500px;
}

.about-content {
	display: flex;
	flex-direction: column;
	margin-top: 200px;
}

.about-content img {
	height: 100px;
}

h2.title {
	margin: 15px 0;
	color: #333;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1.9rem;
	margin-top: 40px;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.about-content .input-div {
	position: relative;
	display: grid;
	grid-template-columns: 7% 93%;
	margin: 25px 0;
	padding: 5px 0;
	border-bottom: 2px solid #d9d9d9;
}

.about-content .input-div.one {
	margin-top: 0;
}

@media screen and (max-width: 1050px) {
	.about-container {
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px) {
	form {
		width: 290px;
	}

	.about-content h2 {
		font-size: 2.4rem;
		margin: 8px 0;
	}

	.img img {
		width: 400px;
	}
}

@media screen and (max-width: 991px) {
	.about-container {
		grid-template-columns: 1fr;
	}

	.img {
		display: none;
	}

	.wave {
		display: none;
	}

	.about-content {
		justify-content: center;
	}
}

/* The device with borders */
.smartphone {
	position: relative;
	width: 360px;
	height: 640px;
	margin: auto;
	border: 16px white solid;
	border-top-width: 60px;
	border-bottom-width: 60px;
	border-radius: 36px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
	content: '';
	display: block;
	width: 60px;
	height: 5px;
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #333;
	border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
	content: '';
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
	left: 50%;
	bottom: -65px;
	transform: translate(-50%, -50%);
	background: white;
	border-radius: 50%;
	border: 2px solid silver;
}

/* The screen (or content) of the device */
.smartphone .content {
	width: 328px;
	height: 520px;
	overflow: auto;
	color: white;
	overflow-x: hidden;
	overflow-y: scroll;
}

.smartphone .content::-webkit-scrollbar {
	display: none;
}

.top_image img {
	width: 328px;
}

@media screen and (max-width: 415px) {
	.smartphone .content {
		width: 230px;
		height: 416px;
		overflow: scroll;
		font-size: 14px;
	}

	.smartphone {
		position: relative;
		width: 260px;
		height: 540px;
	}

	.top_image img {
		width: 229px;
	}

	h2.title {
		margin: 15px 0;
		color: white;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 1.5rem;
	}

	.text-container {
		width: 221px;
	}
}
