.navbar-bg {
	background: #000000;
}

.navbar {
	position: fixed !important;
	width: 100vw !important;
}

.logo-name,
.nav-text {
	color: white !important;
}

.navbar-light .navbar-toggler-icon {
	background-image: url(https://icon-library.com/images/hamburger-menu-icon-png-white/hamburger-menu-icon-png-white-10.jpg) !important;
}
#resume {
	color: red !important;
	border: none;
}

nav.navbar-bg.navbar.navbar-expand-lg.navbar-light {
	z-index: 999;
}

nav.navbar-bg.navbar.navbar-expand-lg.navbar-light {
	background: #000000;
}

.navbar > .active {
	border-bottom: 1px solid red;
}

/*---------- Nav bar button-----------------*/

nav .navbar-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a.nav-text.mx-3.nav-link {
	display: flex;
	align-items: center;
	justify-content: center;
}

nav .navbar-nav .nav-text {
	color: #4285f4;
	font-size: 16px;
	border: 0.2em solid #4285f4;
	border-bottom-left-radius: 2.5em;
	border-top-right-radius: 2.5em;
	width: 10em;
	height: 3em;
	text-transform: uppercase;
	font-weight: bold;
	font-family: sans-serif;
	letter-spacing: 0.1em;
	text-align: center;
	line-height: 3em;
	position: relative;
	overflow: hidden;
	z-index: 1;
	transition: 0.5s;
	margin: 1em;
}

nav .navbar-nav .nav-text span {
	position: absolute;
	width: 25%;
	height: 100%;
	background-color: #4285f4;
	transform: translateY(150%);
	border-radius: 50%;
	left: calc((var(--n) - 1) * 25%);
	transition: 0.3s;
	transition-delay: calc((var(--n) - 1) * 0.05s);
	z-index: -1;
}

a.nav-text.mx-3.nav-link.active {
	color: black;
}

a.nav-text.mx-3.nav-link.active span {
	transform: translateY(0) scale(2);
}

nav .navbar-nav .nav-text span:nth-child(1) {
	--n: 1;
}

nav .navbar-nav .nav-text span:nth-child(2) {
	--n: 2;
}

nav .navbar-nav .nav-text span:nth-child(3) {
	--n: 3;
}

nav .navbar-nav .nav-text span:nth-child(4) {
	--n: 4;
}

/* ------------------------------ */

img.d-inline-block.align-top {
	width: 85px;
	height: 45px;
}
