.col-md-6.contact-Form {
	margin-left: 50%;
	transform: translate(-50%, 10px);
	/* position: absolute; */
	/* border: 2px solid black; */
}

.contact {
	/* position: relative; */
	margin-top: 5%;
	margin-bottom: -12%;
}

.googleMap-iframe {
	/* position: absolute; */
	z-index: -200;
}
