.wave {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.about-container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 7rem;
	padding: 0 2rem;
}

.text-container {
	border: 1px solid linear-gradient(#4285f4, #f3f6fd);
	padding: 20px;
	width: 400px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	background: linear-gradient(#4285f4, #f3f6fd);
}

.paragraph {
	padding-top: 20px;
}

.img {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.about-content {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.img img {
	width: 500px;
}

.about-content {
	display: flex;
	flex-direction: column;
	margin-top: 200px;
}

.about-content img {
	height: 100px;
}

.about-content h2 {
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.about-content .input-div {
	position: relative;
	display: grid;
	grid-template-columns: 7% 93%;
	margin: 25px 0;
	padding: 5px 0;
	border-bottom: 2px solid #d9d9d9;
}

.about-content .input-div.one {
	margin-top: 0;
}

@media screen and (max-width: 1050px) {
	.about-container {
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px) {
	form {
		width: 290px;
	}

	.about-content h2 {
		font-size: 2.4rem;
		margin: 8px 0;
	}

	.img img {
		width: 400px;
	}
}

@media screen and (max-width: 991px) {
	.about-container {
		grid-template-columns: 1fr;
	}

	.img {
		display: none;
	}

	.wave {
		display: none;
	}

	.about-content {
		justify-content: center;
	}
}
