.testimonial {
	background: white;
	width: 100%;
	margin: 20px auto;
	/* min-height: 80vh !important; */
}

.testimonials {
	display: flex;
	flex-wrap: wrap;
	gap: 70px;
	padding-bottom: 150px;
}

.header__testimonial {
	width: 100%;
	text-align: center;
	position: relative;
	padding-top: 30px;
}
.header__testimonial h1 {
	max-width: 390px;
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 4px 4px 4px grey;
	margin: auto;
}
.right__line {
	border: 2px dotted white;
	height: 365px;
	position: absolute;
	left: 50%;
	margin-left: -3px;
	top: 50px;
}
.left__line {
	border: 2px dotted white;
	width: 24%;
	position: absolute;
	margin-left: 0;
	transform: translate(158%, 10px);
	top: 402px;
	/* z-index: 2; */
}
.testimonials .card {
	position: relative;
	width: 380px;
	margin: 0 auto;
	background: #333;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	box-shadow: 10px 10px 5px grey;
	overflow: hidden;
	border-radius: 1.25rem;
	border: 2px dotted white;
}
.layer-left svg {
	font-size: 24px;
	color: #43d39f;
	margin-bottom: 15px;
	margin-right: 90%;
}
.layer-right svg {
	font-size: 24px;
	color: #43d39f;
	margin-bottom: 15px;
	margin-left: 58%;
}
.testimonials .card:hover .layer {
	top: 0;
}
.testimonials .card .content {
	position: relative;
	z-index: 2;
}
.testimonials .card .content p {
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}
.testimonials .card .content .image {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid #fff;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.image img {
	width: 100%;
}
.testimonials .card .content .details h2 {
	font-size: 18px;
	color: #fff;
}
.testimonials .card .content .details h2 span {
	color: #03a9f4;
	font-size: 14px;
	transition: 0.5s;
}
.swiper-container-horizontal > .swiper-scrollbar {
	position: absolute;
	left: 1%;
	bottom: 3px;
	z-index: 50;
	height: 5px;
	width: 98%;
	display: none;
}

.details {
	margin-top: 20px;
}
@media only screen and (max-width: 879px) {
	.right__line {
		display: none;
	}
	.left__line {
		display: none;
	}
}

@media only screen and (max-width: 321px) {
	.testimonials .card {
		width: 300px;
	}
}

@media only screen and (max-width: 281px) {
	.testimonials .card {
		width: 268px;
	}
}
